.navbarContainer{
    display: flex;
    justify-content: space-around;
}

.logo{
    align-self: center;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 700;
}

.logo a{
    text-decoration: none;
}

.logo a:visited{
    color: black;
}

.navbarContainer ul{
    list-style: none;
    display: flex;

}

.navbarContainer ul li{
    padding: 0.5rem;
    cursor: pointer;
    color:#0A3E93;
} 

.navbarContainer ul li a{
    text-decoration: none;
    padding: 0.25rem;
}

.navbarContainer ul li a:visited{
    color:#0A3E93;
}

.current a{
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.1rem;
}